<div class="products-table-container">
  <div class="products-table-scroll">
    <table aria-label='Products' class="products-table">
      <thead>
        <tr>
          <th class="products-table-header">Logo</th>
          <th class="products-table-header">Nombre</th>
          <th class="products-table-header">Descripción</th>
          <th class="products-table-header">Fecha de liberación</th>
          <th class="products-table-header">Fecha de restruturación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <td class="products-table-cell"><img class="products-table-logo" [src]="product.logo" alt="Product logo"></td>
          <td class="products-table-cell">{{product.name}}</td>
          <td class="products-table-cell">{{product.description}}</td>
          <td class="products-table-cell">{{product.releaseDate | date:'dd-MM-yyyy'}}</td>
          <td class="products-table-cell">{{product.restructureDate | dateDdMmYyyy}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h4>{{productList.length}} {{productList.length === 1 ? 'resultado' : 'resultados'}}</h4>
</div>
<div>
  <app-product-result-select (quantitySelected)="onQuantitySelected($event)"></app-product-result-select>
</div>