<div class="open-form-button">
  <app-search class="app-search"></app-search>
  <button (click)="navigateToForm()">Agregar</button>
</div>
<div class="products-table-container">
  <div class="products-table-scroll">
    <table aria-label='Products' class="products-table">
      <thead>
        <tr>
          <th class="products-table-header">Logo</th>
          <th class="products-table-header">Nombre</th>
          <th class="products-table-header">Descripción</th>
          <th class="products-table-header">Fecha de liberación</th>
          <th class="products-table-header">Fecha de restruturación</th>
          <th class="products-table-header"></th>
        </tr>
      </thead>
      <tbody *ngIf="filteredProducts?.length; else allProducts">
        <tr *ngFor="let product of filteredProducts.slice(0, selectedQuantity)">
          <td class="products-table-cell"><img class="products-table-logo" [src]="product.logo" alt="Product logo"></td>
          <td class="products-table-cell">{{product.name}}</td>
          <td class="products-table-cell">{{product.description}}</td>
          <td class="products-table-cell">{{product.releaseDate | date:'MM-dd-yyyy'}}</td>
          <td class="products-table-cell">{{product.restructureDate | date:'MM-dd-yyyy' }}</td>
          <td class="products-table-cell"><app-dropdown #selectedOption [options]="options" (selectionChange)="navigateToEdit(selectedOption.value, product.id)"></app-dropdown></td>
        </tr>
      </tbody>
      <ng-template #allProducts>
        <tbody>
          <tr *ngFor="let product of products.slice(0, selectedQuantity)">
            <td class="products-table-cell"><img class="products-table-logo" [src]="product.logo" alt="Product logo"></td>
            <td class="products-table-cell">{{product.name}}</td>
            <td class="products-table-cell">{{product.description}}</td>
            <td class="products-table-cell">{{product.releaseDate | date:'MM-dd-yyyy'}}</td>
            <td class="products-table-cell">{{product.restructureDate | date:'MM-dd-yyyy' }}</td>
            <td class="products-table-cell"><app-dropdown #selectedOption [options]="options" (selectionChange)="navigateToEdit(selectedOption.value, product.id)"></app-dropdown></td>
          </tr>
        </tbody>
        </ng-template>
    </table>
  </div>
</div>
<div class="footer-products-table">
  <h4 *ngIf="filteredProducts?.length">{{filteredProducts!.length}} {{filteredProducts!.length === 1 ? 'resultado' : 'resultados'}}</h4>
  <h4 *ngIf="!filteredProducts?.length">{{products.length}} {{products.length === 1 ? 'resultado' : 'resultados'}}</h4>
  <app-product-result-select class="product-result-select"
    (quantitySelected)="onQuantitySelected($event)"></app-product-result-select>
</div>