<div class="overlay">
  <div class="form-container">
    <span class="close-button" (click)="closeForm()">&times;</span>
    <h2 class="form-title">Formulario de Registro</h2>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #productForm="ngForm">
      <div class="grid-container">
        <div>
          <label for="id">ID:</label>
          <input type=string id="id" name="id" formControlName="id" (keydown.Tab)="onTabPressed($event)">
          <div *ngIf="form.controls['id'].invalid && (form.controls['id'].dirty || form.controls['id'].touched)"
            class="error-container">
            <div *ngIf="form.controls['id'].errors!['required']" class="error-message">ID requerido</div>
            <div *ngIf="form.get('id')!.errors!['idExists']" class="error-message">Este ID ya existe</div>
            <div *ngIf="form.controls['id'].errors!['minlength']" class="error-message">min. 3 caracteres</div>
            <div *ngIf="form.controls['id'].errors!['maxlength']" class="error-message">max. 10 caracteres</div>
          </div>
        </div>
        <div>
          <label for="name">Nombre:</label>
          <input type=string id="name" name="name" formControlName="name" (keydown.Tab)="onTabPressed($event)">
          <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
            class="error-container">
            <div *ngIf="form.controls['name'].errors!['required']" class="error-message">Nombre requerido</div>
            <div *ngIf="form.controls['name'].errors!['minlength']" class="error-message">min. 5 caracteres</div>
            <div *ngIf="form.controls['name'].errors!['maxlength']" class="error-message">max. 100 caracteres</div>
          </div>
        </div>
        <div>
          <label for="description">Descripción:</label>
          <input type=string id="description" name="description" formControlName="description" (keydown.Tab)="onTabPressed($event)">
          <div
            *ngIf="form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)"
            class="error-container">
            <div *ngIf="form.controls['description'].errors!['required']" class="error-message">Descripción requerida
            </div>
            <div *ngIf="form.controls['description'].errors!['minlength']" class="error-message">min. 10 caracteres
            </div>
            <div *ngIf="form.controls['description'].errors!['maxlength']" class="error-message">max. 200 caracteress
            </div>
          </div>
        </div>
        <div>
          <label for="logo">Logo:</label>
          <input type=string id="logo" name="logo" formControlName="logo" (keydown.Tab)="onTabPressed($event)">
          <div *ngIf="form.controls['logo'].invalid && (form.controls['logo'].dirty || form.controls['logo'].touched)"
            class="error-container">
            <div *ngIf="form.controls['logo'].errors!['required']" class="error-message">Logo requerido</div>
          </div>
        </div>
        <div>
          <label for="releaseDate">Fecha de liberación:</label>
          <input type=text id="releaseDate" name="releaseDate" formControlName="releaseDate" maxlength="10"
            minlength="10" (keydown.Tab)="onTabPressed($event)">
          <div
            *ngIf="form.controls['releaseDate'].invalid && (form.controls['releaseDate'].dirty || form.controls['releaseDate'].touched)"
            class="error-container">
            <div *ngIf="form.get('releaseDate')!.errors!['invalidDateFormat']" class="error-message">MM-dd-yyyy</div>
            <div *ngIf="form.get('releaseDate')!.errors!['futureDate']" class="error-message">Sólo fecha de hoy o posterior</div>
            <div *ngIf="form.get('releaseDate')!.errors!['required']" class="error-message">Fecha requerida</div>
          </div>
        </div>
        <div>
          <label for="restructureDate">Fecha de restructuración:</label>
          <input type=string id="restructureDate" name="restructureDate" readonly formControlName="restructureDate" (keydown.Tab)="onTabPressed($event)">
        </div>
        <div>
          <button type="submit" [disabled]="productForm.invalid" class="add-product-button">Agregar</button>
        </div>
        <div>
          <button type="submit" [disabled]="!productForm.dirty && !productForm.touched" class="restart-form-button" (click)="resetForm()">Reiniciar</button>
        </div>
      </div>
    </form>
  </div>
</div>