.overlay {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 35rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;

  label {
    font-size: smaller;
  }

}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: x-small;
}

.invalid-input {
  border: 2px solid red;
}

.grid-container > div {
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
}

.add-product-button {
  margin-top: 1rem;
  align-self: flex-end;
  width:  fit-content;
}

.restart-form-button {
  margin-top: 1rem;
  align-self: flex-start;
  width:  fit-content;
}

input {
  height: 1.3rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}